.show-saved-replies-button-container{
    display:block;
}

.show-saved-replies-button-container.hide{
    display:none;
}

.show-saved-replies-icon-button{   
    background-color: lightgray;
    border-radius: 50%;
    height:48px;
    width:48px;
}

.show-saved-replies-icon-button:active{
    cursor: move;
}