html {
    width: 800px;
    height:200px;
}

body {
    width: 800px;
    height:200px;
    font-size: 150%;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #292a2d;
    color: white;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.icon {
    margin-right: 10px;
}

.needs-url.hidden,
.has-url.hidden{
    display:none;
}

form p {
    margin: 25px 0;
}

p * {
    display: block;
    margin:15px 0;
}

form {
    position: relative;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
}

form[hidden]{
    display:none;
}

label{
    font-weight: bold;
}

button,
input {
    font-size: 100%;
    border-radius: 5px;
}

input[type="url"]{
    width:95%;
    font-size: 85%;
}

input[type="url"]:valid{
    box-shadow: 0 0 5px 1px green;
}

input[type="url"]:invalid {
    box-shadow: 0 0 5px 1px pink;
}

input[type="url"]:focus:invalid {
    box-shadow: none;
}

.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

.button {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    /*box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;*/
    /*box-sizing: border-box;*/
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    /*line-height: 1.15;*/
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    /*transition: all .2s, box-shadow .08s ease-in;*/
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover,
.button:focus {
    background-color: #7292fd;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    /*transform: translateY(-2px);*/
}

